autopep8
black
brotlipy
cookiecutter
dash-core-components
dash-html-components
dash-renderer
dbfread
hdf5storage
html5lib
julian
sphinx-thebe
jupyter-book
jupyter-contrib-nbextensions
netcdf4
numpy
olefile
owslib
pandas-datareader
partd
pip-chill
progress
progressbar2
proj
py-pcha
pyaml
pyepsg
pyextremes
pykdtree
pyopenssl
pyppeteer
pysocks
pytest
python-snappy
rtree
scikit-learn
seaborn
statsmodels
sympy
utide
wget
windrose
ypstruct